.home {
    background:url(../img/cover-landscape.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.flip{-webkit-animation-duration:.65s;-webkit-backface-visibility:hidden;-webkit-transform:translateX(0)}
