.home {
    background:url(../img/cover.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.flip{-webkit-animation-duration:.65s;-webkit-backface-visibility:hidden;-webkit-transform:translateX(0)}

.waitForBeacon {
    background:url(../img/waitForBeacon.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.loadFromBeacon {
    background:url(../img/loadFromBeacon.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.info1 {
    background:url(../img/info1.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.info2 {
    background:url(../img/info2.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.info3 {
    background:url(../img/info3.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.info4 {
    background:url(../img/info4.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.endInfos {
    background:url(../img/endInfos.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}

.btnX {
    background:url(../img/bouton-x.png) no-repeat center center;
    background-size:100% 100%;
    height:67px;
    width:42px;
    display:block;
    position: fixed;
    top:10px;
    right:10px;
}

.btnexit {
    background:url(../img/bouton-exit.png) no-repeat center center;
    background-size:100% 100%;
    height:45px;
    width:117px;
    display:block;
    position: fixed;
    left:50px;
    bottom:50px;
}

.btnNope {
    background:url(../img/bouton-nope.png) no-repeat center center;
    background-size:100% 100%;
    height:32px;
    width:55px;
    display:block;
    position: fixed;
    left:295px;
    bottom:130px;
}

.btnYeah {
    background:url(../img/bouton-ohyeah.png) no-repeat center center;
    background-size:100% 100%;
    height:55px;
    width:61px;
    display:block;
    position: fixed;
    left:390px;
    bottom:120px;
}

.bye {
    background:url(../img/bye.png) no-repeat center center;
    background-size:100% 100%;
    height:100%;
    width:100%;
}
